/* line 5, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
img {
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

/* line 18, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
a img {
  border: 0 none;
}

/* line 22, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.imageFix {
  display: block;
}

/* line 26, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
table, td {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px 34px 25px 34px;
}

/* line 30, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

/* line 39, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-body {
  background-color: #fbfbfb;
}

/* line 43, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-h3 {
  font-family: Open sans, Helvetica, Segoe UI, sans-serif;
  color: #5a5a5a;
  font-weight: bold;
  font-weight: 700;
  word-break: break-word;
  line-height: 20px;
  font-size: 20px;
  padding: 32px 0 32px 0;
}

/* line 54, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-p {
  font-family: Open sans, Helvetica, Segoe UI, sans-serif;
  word-break: break-word;
  line-height: 25px;
  color: #000000;
  font-size: 18px;
  vertical-align: center;
}
/* line 60, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-p.small {
  font-size: 12px;
}
.mail-p.link-button a {
  display: inline-block;
  border-radius: 5px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 13px;
}
.mail-p.link-button a:hover {
  filter: brightness(0.5);
}
.mail-p.link-button a:active {
  filter: brightness(0.5);
}
.mail-p p {
  margin: 0px;
}
/* line 65, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
a {
  color: #3D6CA5;
  text-decoration: none;
}
/* line 73, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.mail-box.small td{
  padding: 10px 16px 10px 16px;
}

/* line 79, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-grey-link a {
  color: #5a5a5a;
}

/* line 85, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-button--alt table {
  width: 100%;
  text-align: center;
  height: 120px;
}
/* line 92, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-button--alt td {
  border-radius: 0px 0px 5px 5px;
  padding: 0px;
}
.mail-button--alt td:hover {
  filter: brightness(0.5);
 }
.mail-button--alt td:active {
  filter: brightness(0.5);
}
/* line 99, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-button--alt a {
  font-family: Open sans, Helvetica, Segoe UI, sans-serif;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 22px;
  -webkit-appearance: none;
  line-height: 73px;
  text-align: center;
}
/* line 125, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-button--alt a:hover {
  text-decoration: none;
  color: white !important;
}
/* line 131, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-button--alt a:active {
  text-decoration: none;
  transition: none;
  color: white !important;
}

/* line 141, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.text-center {
  text-align: center;
}

/* line 145, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-wrapper {
  width: 100%;
  background-color: #fbfbfb;
}

/* line 150, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-header {
  font-family: Open sans, Helvetica, Segoe UI, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
  vertical-align: center;
}

/* line 155, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-header-logo {
  width: 238px;
  margin-top: 17px;
}

/* line 161, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-hidden {
  display: none;
}

/* line 165, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-center-column {
  width: 550px;
  padding: 12px;
}
.mail-profile a {
  color: #000000;
  text-decoration: none;
}
.mail-profile-logo {
  width: 90px;
  height: 90px;
  border-radius: 999px;
  vertical-align: middle;
  margin-right: 34px;
}
.mail-profile-logo.small {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
/* line 170, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
table {
  width: 100%;
}

/* line 174, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer {
  background-color: #5a5a5a;
  text-align: center;
}
/* line 177, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer * {
  color: #aaaaaa;
}
/* line 180, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer a {
  text-decoration: underline;
}
/* line 182, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer a:hover {
  color: #fbfbfb !important;
}
/* line 185, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer a:hover span {
  color: #fbfbfb !important;
}
/* line 189, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer .mail-hidden {
  color: #5a5a5a;
  font-size: 0;
}

/* line 195, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-footer-padding {
  background-color: #5a5a5a;
  height: 15px;
}

/* line 200, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-margin-top {
  height: 20px;
}

/* line 203, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.mail-margin-bottom {
  height: 20px;
}

/* line 207, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.pro-t {
  color: #547f4b;
}
/* line 209, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.pro-t * {
  color: #547f4b !important;
}

/* line 214, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.con-t {
  color: #863d3d;
}
/* line 216, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.con-t * {
  color: #863d3d !important;
}

/* line 221, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.motion-t {
}
/* line 223, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.motion-t * {
}

/* line 228, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.neutral-t {
  color: #737373;
}
/* line 230, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.neutral-t * {
  color: #737373 !important;
}

/* line 235, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.question-t {
  color: #684747;
}
/* line 237, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.question-t * {
  color: #684747 !important;
}

/* line 243, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.decision-t {
  color: #5a5a5a;
}
/* line 245, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.decision-t * {
  color: #5a5a5a;
}

/* line 250, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.blog_post-t {
  color: #5a5a5a;
}
/* line 252, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.blog_post-t * {
  color: #5a5a5a;
}

.topic-t {
  color: #5a5a5a;
}

.topic-t * {
  color: #5a5a5a;
}

/* line 257, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.markdown--motion {
  font-weight: bold;
}

/* line 261, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.markdown--question {
  color: #684747;
  font-weight: bold;
}

/* line 265, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.markdown--argument-con {
  color: #863d3d;
  font-weight: bold;
}

/* line 269, /Users/arthur/argu/app/assets/stylesheets/briarcliff/_mail.scss */
.markdown--argument-pro {
  color: #547f4b;
  font-weight: bold;
}

.mail-unsubscribe {
  font-family: Open sans, Helvetica, Segoe UI, sans-serif;
  font-size: .8em;
}

.align-right {
  text-align: right;
}

.link-padding {
  padding: 5px 34px 0px 34px;
}
